<div class="processing-container fade-in" *ngIf="!isJokeRevealed()">
  <h2 mat-dialog-title class="dialog-title">¡Excelente decisión!</h2>
  <mat-dialog-content class="loading-content">
    <mat-spinner diameter="60" color="primary"></mat-spinner>
    <p class="loading-text">{{ loadingText() }}</p>
  </mat-dialog-content>
</div>

<div class="joke-container fade-in" *ngIf="isJokeRevealed()">
  <mat-icon class="joke-icon">error</mat-icon>

  <h2 mat-dialog-title class="joke-title">
    Error...
  </h2>

  <mat-dialog-content class="joke-content">

    <img
      src="https://i.pinimg.com/736x/25/34/76/2534762029fd4ebd70bcc45280f251b2.jpg"
      class="xd"
      >

  </mat-dialog-content>

  <mat-dialog-actions align="center" class="actions-centered">
    <button
      mat-flat-button
      color="primary"
      class="accept-btn"
      (click)="onAccept()">
      Aceptar
    </button>
  </mat-dialog-actions>
</div>